<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>记账</title>
    <!--<link href="../static/css/basic_table.css" rel="stylesheet" type="text/css">-->
    <script src="{% static 'bootstrap-3.3.5-dist/js/jquery-3.1.0.min.js' %}"></script>
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.css' %}" rel="stylesheet" />
    <!--<link href="{% static 'datatable/css/datatable.min.css' %}" rel="stylesheet" />-->
    <link href="{% static 'datatable/css/datatable-bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'jquery-ui/jquery-ui.min.css' %}" rel="stylesheet" />
    <link href="{% static 'jquery-ui/jquery-ui.theme.min.css' %}" rel="stylesheet" />
    <link href="{% static 'jquery-ui/jquery-ui.structure.min.css' %}" rel="stylesheet" />
    <script src="{% static 'bootstrap-3.3.5-dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'datatable/js/datatable.min.js' %}"></script>
    <!--<script src="{% static 'DataTables-1.10.12/media/js/jquery.dataTables.js' %}"></script>-->
    <script src="{% static 'datatable/js/datatable.jquery.min.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">账单管理</a>
        </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <!--<form class="navbar-form navbar-left" role="search">-->
        <!--<div class="form-group">-->
          <!--<input type="text" class="form-control" placeholder="Search">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Submit</button>-->
      <!--</form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div>

</nav>
{% block content %}
{% endblock %}
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>合计条数</th>
            <th>花费总数</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ totle.length }}</td>
            <td>{{ totle.sum }}</td>
        </tr>
        </tbody>

    </table>
</div>
<div class="container">
    <div >
        <button class="btn btn-success" id="add_data" onclick="test2();">Add</button>
    </div>
    <table class="table table-bordered" id="MyTable">
        <thead>
        <tr>
            <!--<th>序号</th>-->
            <th>日期</th>
            <th>事件</th>
            <th>花费</th>
            <th style="width:5%;">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for every in details %}
        <tr>

            <!--<td>{{ every.id }}</td>-->
            <td>{{ every.date|date:"Y-m-d" }}</td>
            <td>{{ every.action }}</td>
            <td>{{ every.cast }}</td>
            <!--<td><a href="/bills/delete/id={{ every.id }}"><button>删除</button></a></td>-->
            <td><button class="btn btn-danger" onclick="show_confirm({{ every.id }})">删除</button></td>
            {% endfor %}
        </tr>
        </tbody>

    </table>

</div>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加数据</h4>
      </div>
      <div class="modal-body">
        <form id="insert" method="POST" action="#" class="form-group">
            <label for="date_select">日期</label>
            <input id="date_select" class="form-control" type="text" name="new_date" placeholder="now" />
            <label for="action">事件</label>
            <input id="action" type="text" class="form-control" name="new_action" placeholder="买菜" />
            <label for="cast">花费</label>
            <input id="cast" type="text" class="form-control" name="new_cast" placeholder="15.0" />
    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="insert_data();">Add</button>
      </div>
    </div>
  </div>
</div>

<!--<div id="" style="display:none;">-->
    <!--<form method="POST" action="#" >-->
        <!--<input class="select" type="text" name="new_date" placeholder="日期" />{% csrf_token %}-->
        <!--<input type="text" name="new_action" placeholder="事件" />{% csrf_token %}-->
        <!--<input type="text" name="new_cast" placeholder="花费" />{% csrf_token %}-->
        <!--&lt;!&ndash;<input type="submit" value="提交" />&ndash;&gt;-->
    <!--</form>-->
<!--</div>-->




<div id="test_dialog" style="display:none;">
    hellow
</div>
<script>
    $('#date_select').datepicker();

    function test(){
    $('#test_dialog').dialog();
    }

    function test2(){
    $('#myModal').modal();
    }

    function insert_data(){
    var new_date = $('#date_select').val();
    var action = $('#action').val();
    var cast = $('#cast').val();
    $.ajax({
    type:"post",
    url:'/bills/upload',
    data:{
        "new_date":new_date,
        "new_action":action,
        "new_cast":cast,
    },
    success:function(res){
        location.reload();
    }
    });

    }
</script>

<script>
    $('#MyTable').datatable({
    pageSize: 15,
    sort: '*',
    option:{"onclick":"test();"}
});
   // $("#MyTable td").attr("onclick","test();")
   // $("#MyTable tr td:nth-child(2)").attr("onclick","test();")


</script>


</body>
</html>